$background: #FBF8F1; 
$background--dark: #33304E; 
$fontColor: #33304E;
$fontColor--dark: #FBF8F1;
$lightBlue: #54BAB9;
$background-toggle: #FBF8F1;
$lightBlue-shadow: rgba(84, 186, 185, 0.4);
$gradient: linear-gradient(to bottom right, #54BAB9,  60%, #219F94);
$gradient-darkmode: linear-gradient(to bottom right, #a770ef, 40% ,#cf8bf3, 90% ,#fdb99b);
$outline: #267dce;